<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/github-dark.min.css">
    <title>Game 6</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section>
        <div>
            <div id="Ins">Instructions</div>
            <div id="Code">Code</div>
        </div>
        <div id="ins">
            <ul>
                <li>in the right side, there's a white board</li>
                <li>the whiteboard's ID is <code>"frame"</code></li>
                <li>inside the whiteboard, there are two elements</li>
                <li>a <code>< span ></code> on top with the ID <code>"lps"</code></li>
                <li>and a <code>< textarea /></code> with the ID <code>"wasteland"</code></li>
                <li>I want a code that updates the <code>"lps"</code> whenever there's an input in <code>"wasteland"</code> so that it acts as "letters per second"</li>
            </ul>
        </div>
        <pre id="code"><code class="code-editor" contenteditable="true">// Your code here...</code></pre>
    </section>
    <section>
        <div></div>
        <div id="frame">
            <p><span id="lps">0</span> letters per second</p>
            <textarea id="wasteland"></textarea>
        </div>
    </section>
    <div id="simulate">Simulate</div>

    <script src="../static/highlight.min.js"></script>
    <script src="../static/javascript.min.js"></script>
    <script src="../static/main.js"></script>
    <script src="../static/game6.js"></script>
</body>
</html>
