<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <title>Game 1</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section>
        <div>
            <div id="Ins">Instructions</div>
            <div id="Code">Code</div>
        </div>
        <div id="ins">
            <ul>
                <li>in the right side, there's a white board</li>
                <li>the whiteboard's ID is <code>"frame"</code></li>
                <li>I want a javascript code to create a button there with the id <code>"clickme"</code></li>
                <li>the button should have the text <code>"click me"</code></li>
                <li>the button should have an event listener that when clicked, it will writes <code>"hello world"</code> on the console</li>
            </ul>
        </div>
        <pre id="code"><code class="code-editor" contenteditable="true">// Your code here...</code></pre>
    </section>
    <section>
        <div></div>
        <div id="frame">
        </div>
    </section>
    <div id="simulate">Simulate</div>

    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/languages/javascript.min.js"></script>
    <script src="../static/main.js"></script>
    <script src="../static/game2.js"></script>
</body>
</html>
